<div ng-controller="reportCtrl">

    <div id="top" class="header-wrap animated fadeIn" flex>
    <a id="bottom"></a>
        <div class="report-main-wrap">
            <div layout="row" layout-align="center center">
                <div layout="row" flex flex-gt-xs="60">
                    <div class="header">
                        <h1 class="animated zoomIn">Select your report</h1>
                        <small class="animated fadeIn">Visualize Any Data Source
                            Big, Small or In-Between!
                        </small>
                    </div>
                    <div class="header-img-ng"></div>
                </div>
            </div>
        </div>

        <div class="header-search-wrap">
            <div layout="row" layout-align="center center">
                <div layout="row" flex flex-gt-xs="60">
                    <div flex-gt-sm="70" flex="70">
                        <md-input-container class="md-icon-float md-block">
                            <!-- Use floating label instead of placeholder -->
                            <label class="white-text">Search report here...</label>
                            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                            <input class="white-input" ng-model="searchReport" type="text">
                        </md-input-container>
                    </div>
                    <div flex-gt-sm="30" flex="30">
                        <div class="header-btn-wrap">
                            <md-button ng-click="refresh()" class="md-raised md-search-btn">Refresh</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="report-view-wrap report-viewer-wrap" style="margin-top: 370px;">
        <div layout="row" layout-align="center center">
            <div layout="row" flex flex-gt-xs="80">
                <div class='md-padding position-relative' layout="row" flex>
                    <div class="error-msg-wrap" ng-show="reports==null && isReportLoading==false ">
                        <md-card class="error-msg font-robot" layout-align="center center">
                            Report not found..
                        </md-card>
                    </div>
                    <div layout="row" flex>
                        <div class="loader more"
                             ng-show="isReportLoading"
                        ></div>
                        <div class='md-padding' layout="row" layout-wrap flex
                             layout-align="center center">
                            <md-card flex="20" class="report-wrap" ng-repeat="report in reports | filter : searchRepor" ng-mouseover = "tooltip = true" ng-mouseleave = "tooltip = false">
                                <!--<div  class = "title-tool-tip" ng-if = "tooltip">
                                {{report}}
                                </div>-->                                
                                <md-card-title label = "report">
                                    <div style = "padding-left:16px;">
                                    <md-card-title-text>
                                    <md-tooltip md-direction = "bottom">{{report}}</md-tooltip>
                                        <span class="md-headline font-robot report-header">
                                            {{ report | limitTo: 15 }}{{report.length > 15 ? '...' : ''}}
                                        </span>
                                    </md-card-title-text></div>
                                    <div class="image-report">
                                        <img src="assets/img/report.png"/>
                                    </div>
                                </md-card-title>
                                <md-card-actions layout="row" layout-align="center center">
                                    <md-button ng-click="clickGoToFilter(report)">view Report
                                    </md-button>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="fab-go-up">
        <md-button id="scrollToTop"
                   ng-click="goToTop()"
                   class="md-fab up-btn scrollToTo">
            <i class="fa fa-arrow-up"></i>
        </md-button>
    </div>

</div>