<div ng-controller="reportFilterCtrl">
    <toast></toast>
    <div class="header-wrap animated fadeIn" flex>
        <div class="report-main-wrap report-filter-header">
            <div layout="row">
                <div layout="row" flex="75">

                </div>
                <div layout="row" flex="25" class="header-report-name">
                    <small>ReportName
                        <h1>{{eventHandler.reportName}}</h1>
                    </small>

                </div>

            </div>
        </div>


    </div>

    <!-- #filed view -->
    <div class="report-view-wrap ">

        <div layout="row">
            <div flex="25" class="left-wrap">
                <div class="header">
                    <md-button ng-click="onClickBack();" class="md-fab back-btn">
                        <i class="fa fa-arrow-left"></i>
                    </md-button>
                </div>
                <div class="parameter-header">
                    <small>Parameters</small>
                </div>

                <div layout="row">
                    <div flex ng-repeat="picker in reportFiledList.UIDate">
                        <md-card layout="column">
                            <md-card-title>
                                <div layout-gt-xs="row">
                                    <input type="text" datepicker
                                           class="form-control datep"
                                           ng-model="reportFiledList.selectedDate[picker.fieldname]"
                                           placeholder="{{picker.label}}"/>
                                </div>
                            </md-card-title>
                        </md-card>
                    </div>

                </div>
                <div class="drop-down">
                    <md-card class="p-l-r-25 position-over" ng-repeat="dropDown in reportFiledList.UIDropDown"
                             layout="column">
                        <div class="filed-loading" layout-align="center center"
                             ng-class="dropDown.loader==true?'display-block':'display-none'">
                            <svg class="spinner-container" width="20px" height="20px" viewBox="0 0 52 52">
                                <circle class="path" cx="26px" cy="26px" r="20px" fill="none" stroke-width="4px"/>
                            </svg>
                        </div>
                        <md-input-container>
                            <label>Select {{dropDown.fieldname}}</label>
                            <md-select ng-model="selectedVal"
                                       id="{{dropDown.fieldname}}"
                                       ng-change="onChangeSelected(selectedVal,dropDown.fieldname)">
                                <md-option value="{{filed}}"
                                           ng-repeat="filed in  dropDown.data track by filed">
                                    {{filed}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                    </md-card>
                </div>

                <div class="report-btn-wrap">
                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <md-button ng-disabled="reportFldLoading" class="md-raised" ng-click="onCreateReport()">
                            Genarate report
                        </md-button>
                        <md-button ng-disabled="reportFldLoading" ng-click="onClickRefresh()" class="md-raised md-primary">clear
                        </md-button>
                    </section>
                </div>

            </div>

            <div flex flex="75">
                <div class="report" id="report">
                    <div class="report-loading" layout-align="center center"
                         ng-if="reportFldLoading">
                        <div class="loader more"></div>
                    </div>
                    <iframe frameborder='0' ng-src="{{reportURL}}"
                            frameborder="0"
                            id="reportFram"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>

    </div>
</div>