html, body {
    background: #cee2f2;
    overflow-x: hidden;
    overflow-y: auto;
}

.background.with-promo {
    /*top: 50px;*/
    background: rgba(0, 0, 0, 0) linear-gradient(180deg, #39d8d8, #23b3c9) repeat scroll 0 0;
}

.background {
    position: absolute;
    height: 504px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden
}

.background .rect {
    position: absolute;
    top: 0;
    height: 800px;
    width: 800px;
    background: -webkit-linear-gradient(270deg, #39d8d8, #23b3c9);
    background: linear-gradient(180deg, #39d8d8, #23b3c9);
    box-shadow: 0 0 54px 20px #128da0
}

.background .rect.top-left {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: calc(-800px + 36%);
    top: calc(-800px + 36%);
    z-index: 1
}

.background .rect.top-right {
    height: 1200px;
    width: 1200px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    right: calc(-1000px + 23%);
    top: calc(-1000px + 23%);
    z-index: 2
}

.background .rect.bottom-left {
    height: 600px;
    top: calc(800px - 504px - 22%);
    left: calc(-800px + 22%);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 2
}

.background .rect.bottom-right {
    top: calc(800px - 504px - 30%);
    right: calc(-800px + 30%);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1
}

/*report view*/
.report-main-wrap {
    position: relative;
    width: 100%;
    height: 280px;
    top: 0;
    left: 0;
    background: #39d8d8;
    background: -webkit-linear-gradient(45deg, #33b1f8 37%, #6e90f6 100%);
    background: linear-gradient(45deg, #33b1f8 37%, #6e90f6 100%);
}

.report-view-wrap {
    position: relative;
    margin-top: 42px;
}

.header-img-ng {
    background-image: url(../img/header-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 180px;
    position: absolute;
    width: 30%;
    top: 39px;
    z-index: 100;
}

.header-search-wrap {
    background: #f99b1c;
    height: auto;
    width: 100%;
    padding-top: 10px;
    position: absolute;
}

.bg-white {
    background: #ffffff;
}

.header-btn-wrap {
    padding: 15px;
}

.md-search-btn {
    background-color: rgb(63, 81, 181);
    min-width: 150px;
    min-height: 40px;
}

.white-text {
    color: #fff !important;
}

.blue-text {
    color: rgb(63, 81, 181);
}

label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.white-input {
    color: #fff !important;
    border-color: rgba(255, 255, 255, 1) !important;
}

.report-view {
    width: 100%;
    height: 700px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 15px 12px 0 rgba(0, 0, 0, .04), 0 19px 38px 0 rgba(0, 0, 0, .12);
    margin-bottom: 50px;
}

.font-robot {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Maven Pro', sans-serif !important;
}

.header {
    text-align: center;
    margin-top: -40px;
}

.header > h1 {
    color: #ffffff;
    font-weight: 200;
    font-size: 55px;
    margin-bottom: 9px
}

.header > small {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 15px;
}

.header-wrap {
    height: 23px;
}

.report-wrap {
    overflow: hidden;
    text-align: center;
    height: 240px;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
}

.image-report {
    position: absolute;
    width: 60px;
    text-align: center;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
    left: 26%;
    /* right: 0; */
    top: 74px;
    overflow: hidden;
    padding: 15px;
    background: #fdd973;
    border: 5px solid rgba(249, 155, 28, 0.26);
}

.image-report > img {
    position: relative;
    margin-top: 5px;
}

.report-header {
    font-size: 14px;
    font-weight: 400;
    color: #44c5ae;
    text-transform: uppercase;
}

.loader {
    top: 5px;
    border-radius: 25%;
}

.position-relative {
    position: relative;
}

/* Demo specific styles end */

/* Loader with three blocks */
.loader, .loader:before, .loader:after {
    display: inline-block;
    width: 100%;
    height: 10px;

    position: absolute;
    z-index: 100000;
    animation: loading 4s cubic-bezier(.1, .85, .9, .15) infinite, loading-opacity 2s ease-in-out infinite alternate;
    background: linear-gradient(to right, #33b1f8 0px, #6e90f6 10px, transparent 10px) no-repeat 0px 0px / 10px 10px;
    content: ' ';
}

.loader {
    animation-delay: .1s;
}

.loader:after {
    animation-delay: .2s;
}

@keyframes loading-opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        background-position: -50% 0px;
    }
    100% {
        background-position: 150% 0px;
    }
}

/* 2 more loading blocks */
.loader.more:before, .loader.more:after {
    content: ' ■';
    color: #f99b1c;
    top: 0;
    line-height: 6px;
    font-size: 22px;
    font-family: "Times New Roman";
    vertical-align: top;
    animation: loading 4s cubic-bezier(.1, .85, .9, .15) infinite, loading-font 4s cubic-bezier(.1, .85, .9, .15) infinite !important;
}

.loader.more:before {
    animation-delay: 0s, .2s !important;
}

.loader.more {
    overflow: hidden;
    opacity: 0;
    animation: loading 4s cubic-bezier(.1, .85, .9, .15) infinite, loading-opacity 2s ease-in-out infinite alternate;
    animation-delay: .6s, .4s !important;
}

.loader.more:after {
    animation-delay: .4s, .8s !important;
}

@keyframes loading-font {
    0% {
        text-indent: calc(-50% - 5px);
    }
    100% {
        text-indent: calc(150% - 10px);
    }
}

.report-wrap:hover {
    background: #fdd973;
    transition: background 0.5s;
}

.error-msg-wrap {
    width: 100%;
}

.error-msg {
    width: 400px;
    height: 70px;
    margin: 0 auto;
    background: #ffffff;
    color: #33b1f8;
    font-size: 25px;
    font-weight: 300;
}

.drop-down {
    padding-left: 0px;
    padding-right: 0px;
}

.p-l-r-25 {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 11px;
}

.spinner-container {
    animation: rotate 2s linear infinite;
    -webkit-animation: rotate 2s linear infinite;
}

.spinner-container .path {
    stroke-dasharray: 1, 150; /* 1%, 101% circumference */
    stroke-dashoffset: 0;
    stroke: rgba(27, 154, 89, 0.7);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
    -webkit-animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150; /* 1%, 101% circumference */
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150; /* 70%, 101% circumference */
        stroke-dashoffset: -35; /* 25% circumference */
    }
    100% {
        stroke-dasharray: 90, 150; /* 70%, 101% circumference */
        stroke-dashoffset: -124; /* -99% circumference */
    }
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 150; /* 1%, 101% circumference */
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150; /* 70%, 101% circumference */
        stroke-dashoffset: -35; /* 25% circumference */
    }
    100% {
        stroke-dasharray: 90, 150; /* 70%, 101% circumference */
        stroke-dashoffset: -124; /* -99% circumference */
    }
}

.app-wrapper {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px) {
    body {
        overflow-x: auto;
    }

    .app-wrapper {
        width: 600px;
    }
}

.filed-loading {
    background: #fff;
    width: 90%;
    height: 100%;
    position: absolute;
    text-align: center;
    padding-top: 20px;
}

.position-over {
    position: relative;
    overflow: hidden;
}

.display-none {
    display: none;
    z-index: 0;
}

.display-block {
    display: block;
    z-index: 10;
}

/*iframe style */
.report {
    width: 100%;
    height: 500px;
    position: relative;
}

.report-loading {
    margin-top: 150px;
}

.report > iframe {
    width: 100%;
    height: calc(100vh);
}

.back-btn {
    background: #f99b1c !important;
}

.up-btn {
    background: #33b1f8 !important;
}

.fab-go-up {
    position: fixed;
    bottom: 20px;
    right: 40px;
}

.scrollToTo {
}

/* UI date picker */
.ui-datepicker {
    background-color: #fff;
    border: 2px solid #EC784B;
    border-radius: 4px;
    display: none;
    padding: 10px;
    width: 240px;
    margin-top: 10px;
    margin-left: 12px;
}

.ui-datepicker a,
.ui-datepicker a:hover {
    text-decoration: none;
}

.ui-datepicker a:hover,
.ui-datepicker td:hover a {
    color: #2A6496;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}

.ui-datepicker .ui-datepicker-header {
    margin-bottom: 4px;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title {
    font-weight: 200;
    font-family: 'Ek Mukta', sans-serif;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    cursor: default;
    font-family: 'themify';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    height: 20px;
    line-height: 1;
    margin-top: 2px;
    width: 30px;
}

.ui-datepicker .ui-datepicker-prev {
    float: left;
    text-align: left;
}

.ui-datepicker .ui-datepicker-next {
    float: right;
    text-align: right;
}

.ui-datepicker .ui-datepicker-prev:before {
    content: "\e64a";
}

.ui-datepicker .ui-datepicker-next:before {
    content: "\e649";
}

.ui-datepicker .ui-icon {
    display: none;
}

.ui-datepicker .ui-datepicker-calendar {
    table-layout: fixed;
    width: 100%;
    font-weight: 200;
    font-family: 'Ek Mukta', sans-serif;
}

.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
    text-align: center;
    padding: 4px 0;
}

.ui-datepicker .ui-datepicker-calendar td {
    border-radius: 4px;
    -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.ui-datepicker .ui-datepicker-calendar td:hover {
    background-color: #eee;
    cursor: pointer;
    z-index: 99999;
}

.ui-datepicker .ui-datepicker-calendar td a {
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-current-day {
    background-color: #EC784B;
}

.ui-datepicker .ui-datepicker-current-day a {
    color: #fff
}

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
    background-color: #fff;
    cursor: default;
}

.form-control {
    -webkit-box-shadow: none !important;
    background-color: #ECEDEE;
    border: 1px solid #ECEDEE;
    box-shadow: none !important;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: auto;
    line-height: normal;
    padding: 9px 12px 8px;
    vertical-align: middle;
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.left-wrap {
    height: calc(100vh);
    background: #ffffff;
}

.parameter-header {
    padding: 5px;
}

.parameter-header > small {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #33B1F8 !important;
    font-size: 18px;
    padding-left: 6px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.report-filter-header {
    height: 65px
}

.report-viewer-wrap {
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header-report-name {
    background: #f99b1c;
    height: 65px;
}

.header-report-name > small {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff !important;
    padding: 12px;
}

.header-report-name > small > h1 {
    margin-top: 0;
    font-size: 20px;
}

.header-2 {
    text-align: center;
    width: 100%;
}

.report-btn-wrap {
    position: fixed;
    bottom: 0;
    /* background: #f99b1c; */
    height: 50px;
    /* width: 100%; */
    padding-left: 28px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: #4CAF50;
}

md-toast.md-error-toast-theme .md-toast-content {
    background-color: #FF5252;
}

md-card md-card-title{
    padding-top: 5px;
}

md-tooltip{
    position: fixed;
    background-color: (0,0,0,1);
}